<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='src/styles/styles.css') }}"
        />
        <title>{{ WEB_PAGE_TITLE }}</title>
    </head>
    <body class="{% if WEB_CUSTOM_BACKGROUND %}custom-background{% endif %}">
        <div class="page-container">
            <h1>{{ WEB_PAGE_TITLE }}</h1>
            <p class="customWelcomeMsg">
                {{ WEB_WELCOME_MESSAGE_CONTENT | safe }}
            </p>
            <div class="qr-container">
                <p id="network-name">
                    Network name: <strong>{{ WLAN_SSID }}</strong><br />
                </p>
                <p id="password">Password: <strong>{{ password }}</strong></p>
                <img src="data:image/png;base64,{{ qr_code }}" alt="QR-Code" />
                <form
                    action="{{ url_for('trigger_update_password') }}"
                    method="post"
                    onsubmit="confirmUpdatePassword(event)"
                >
                    <button type="submit" class="btn">
                        Generate new password
                    </button>
                </form>
                <a class="btn" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
        <footer>
            Version {{ VERSION }} |
            <a href="https://github.com/phipzzz/fritzbox-wlan-password-rotator"
                >phipzzz</a
            >
        </footer>
        <script src="{{ url_for('static', filename='src/script/main.js') }}"></script>
    </body>
</html>
